.tarjeta_con_img {
    text-align: center;
    height: 30rem;
    width: 35%;
    border-width: 0.4vw;
    border-radius: 2vw;
    box-shadow: 0 -3px 6px rgba(29,29,27,.2);
    background-color: hsla( 130.90909090909088,4.721030042918456%,45.68627450980392% ,1);
    margin: 0.5rem 0;
    cursor: pointer;
}

.tarjeta_con_img .fecha {
    margin: .3rem .5rem;
}

.tarjeta_con_img .titulo_tarjeta_img {
    max-height: 7rem;
    width: 90%;
    margin: .5rem;
    font-size: 33px;
    font-weight: 400;
    text-align:start;
    overflow: scroll;
}

.tarjeta_con_img .titulo_tarjeta_img::-webkit-scrollbar {
    display: none;
} 

.tarjeta_con_img .img_tarjeta {
    max-height: 25rem;
    max-width: 20rem;
    overflow: scroll;
    margin: .5rem;
    border-radius: 10px;
}


.tarjeta_con_img .precio_tarjeta_img{
    margin: 0;
}

.tarjeta_con_img .img_tarjeta::-webkit-scrollbar {
    display: none;
} 


.tarjeta_con_img .precio_tarjeta_img::-webkit-scrollbar {
    display: none;
} 


@media only screen and (max-width: 450px) {
    .tarjeta_con_img {
        width: 80%;
        height: 17rem;
    }  
    .tarjeta_con_img .img_tarjeta {
        min-height: 65%;
        max-height: 70%;
    }
    .tarjeta_con_img .titulo_tarjeta_img {
        max-height: 2.5rem;
        font-size: 20px;
        text-align: center;
    }
} 

@media only screen and (min-width: 451px) {
    .tarjeta_con_img {
        width: 85%;
        height: 22rem;
    }  
    .tarjeta_con_img .img_tarjeta {
        max-height: 75%;
        max-width: 95%;

    }
    .tarjeta_con_img .titulo_tarjeta_img {
        max-height: 3.5rem;
        font-size: 20px;
        text-align: center;
    }
} 

@media only screen and (min-width: 520px) {
    .tarjeta_con_img {
        max-width: 300px;
        height: 22rem;
    }  
    .tarjeta_con_img .img_tarjeta {
        max-height: 83%;
        max-width: 95%;

    }
    .tarjeta_con_img .titulo_tarjeta_img {
        max-height: 3.5rem;
        font-size: 20px;
        text-align: center;
    }
}


@media only screen and (min-width: 670px) {
    .tarjeta_con_img {
        min-width: 256px;
        max-width: 285px;
        max-height: 21rem;
    }  
    .tarjeta_con_img .img_tarjeta {
        max-height: 86%;
        max-width: 95%;

    }
    .tarjeta_con_img .titulo_tarjeta_img {
        max-height: 3.5rem;
        font-size: 20px;
        text-align: center;
    }
} 


@media only screen and (min-width: 1100px) {
    .tarjeta_con_img {
        min-width: 256px;
        max-width: 285px;
        height: 30rem;
    } 
    .tarjeta_con_img .img_tarjeta {
        max-height: 85%;
        max-width: 90%;
        
    }
    .tarjeta_con_img .titulo_tarjeta_img {
        max-height: 3.5rem;
        font-size: 23px;
        text-align: center;
    }
}

